
@using Mezun_Portali.BusinessLayer.Results;
@using Mezun_Portali.Ent;
@model BusinessLayerResult<Duyurular>
@@{
    ViewBag.Title = "DuyuruMetin";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="portlet light bordered">

    <div class="portlet-body">
        <h4 class="block">@Model.Result.DuyuruBaslik</h4>
        <div>
            <span class="badge">@Model.Result.Duyuru_Tarihi</span><div class="pull-right">

            </div>
        </div>
        <div class="well"> @Model.Result.Duyuru</div>
        <ul class="pager">
            <li class="previous">
                <a href="~/Home/AnnouncementText/@(Model.Result.Id-1)"> &larr; Older </a>
            </li>
            <li class="next">
                <a href="javascript:;"> Newer &rarr; </a>
            </li>
        </ul>
    </div>
</div>
@section Jqry{
    $(document).ready(function(){
    if (i > 0){

    <img src="/img.jpg" />;
    }
    });

}