
@{
    ViewBag.Title = "AnnouncementText";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<row>
    <div class="col-md-12">

        <h4 class="block caption-subject font-green bold uppercase text-center">Default</h4>
        <div class="well">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras placerat sapien metus, ac fringilla lacus commodo quis. In ac urna et dolor porttitor dignissim. Phasellus nec augue lectus. Morbi id quam lobortis, ultricies ex et, laoreet lacus. Mauris sed arcu metus. Aenean enim lorem, porttitor et augue vel, laoreet interdum mauris. Nunc mattis gravida nibh, in porttitor ligula volutpat non. Interdum et malesuada fames ac ante ipsum primis in faucibus.

            Praesent ut pretium tortor. Phasellus scelerisque turpis dui, et consequat nunc interdum vitae. Sed hendrerit ultrices efficitur. Sed eget consectetur neque. Vestibulum orci urna, pellentesque ut porttitor ut, rhoncus eu nibh. Proin commodo laoreet egestas. Sed porta enim justo. In a sem massa. Morbi nisi purus, condimentum in luctus nec, sodales scelerisque nulla. Mauris hendrerit condimentum velit. Sed posuere sem a tellus iaculis consequat. Praesent vel sodales quam. Morbi elit nibh, ultricies sit amet lorem eget, hendrerit vehicula eros. Integer augue velit, eleifend eget aliquet ut, semper sed odio. Aenean ut quam sit amet neque sagittis fringilla sit amet tincidunt neque. Donec et diam quis arcu convallis suscipit ac id mauris.

            Nullam varius rutrum justo, non maximus sapien dignissim non. Quisque eget nunc pharetra, molestie odio et, condimentum arcu. Aenean egestas eu sapien eu imperdiet. Nullam sit amet ultrices massa. Nulla facilisi. Integer id auctor diam, vitae placerat risus. Cras sit amet nibh sit amet enim eleifend pharetra. Suspendisse elit ligula, iaculis ac tristique vel, fringilla in elit. Donec tellus ligula, lobortis posuere mattis nec, fringilla molestie massa. Curabitur id massa vulputate, pellentesque augue vitae, vehicula lorem. Fusce facilisis enim ex, ac tempor ex efficitur eu. Vivamus volutpat risus ac nisi eleifend, at porta velit bibendum. Sed metus felis, congue eu malesuada non, hendrerit et tortor.

            Pellentesque non arcu eget ex scelerisque tempor at ac nibh. Aenean sed scelerisque tellus, et lobortis dolor. Sed in fringilla sapien. Ut sollicitudin urna velit, non accumsan felis pharetra ut. Donec dictum leo sit amet tellus varius malesuada. Ut tempus a massa aliquam dapibus. Duis non lacus nisi. Aenean ullamcorper pulvinar egestas.

            Mauris dapibus quis magna non eleifend. Integer tristique nibh risus, et feugiat metus ultrices sodales. Proin vel lobortis orci, egestas maximus nibh. Nam pharetra augue sit amet odio rutrum, semper consequat orci tempus. Aenean tortor quam, venenatis non tincidunt nec, pretium vulputate dolor. Phasellus at lorem nec dui suscipit porttitor. Nunc ut lorem viverra dolor accumsan blandit ultricies vel nisi. Quisque sed dolor et turpis egestas hendrerit a quis tortor. Ut fermentum risus sit amet eros fermentum accumsan. Vivamus tempus maximus aliquam. Vestibulum leo nunc, bibendum et lorem sit amet, imperdiet luctus lacus.


        </div>
        <ul class="pager">
            <li class="previous">
                <a href="javascript:;"> &larr; Older </a>
            </li>
            <li class="next">
                <a href="javascript:;"> Newer &rarr; </a>
            </li>
        </ul>
    </div>
</row>