
@{
    ViewBag.Title = "Announcement";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<row>
    <div class="col-lg-12">
        <div class="portlet light portlet-fit bordered">
            <div class="portlet-title">
                <div class="caption">
                    <i class=" glyphicon glyphicon-bullhorn font-green"></i>
                    <span class="caption-subject font-green bold uppercase"> Duyurular</span>
                    <div class="caption-desc font-grey-cascade"> Duyurular Yayınlanma Tarihine Göre Sıralanmıştır.  </div>
                </div>
            </div>
            <div class="portlet-body">
                <div class="mt-element-list">
                    <div class="mt-list-head list-news font-white bg-blue">
                        <div class="list-head-title-container">
                            
                            <h3 class="list-title">Duyuru Listesi</h3>
                        </div>
                    </div>
                    <div class="mt-list-container list-news">
                        <ul>
                            <li class="mt-list-item">
                                <div class="list-icon-container">
                                    <a href="javascript:;">
                                        <i class="fa fa-angle-right"></i>
                                    </a>
                                </div>
                                <div class="list-datetime bold uppercase font-green"> 8 Nov, 2015 </div>
                                <div class="list-item-content">
                                    <h3 class="uppercase">
                                        <a href="javascript:;">Latest news on Metronic</a>
                                    </h3>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec elementum gravida mauris, a tincidunt dolor porttitor eu. </p>
                                </div>
                            </li>
                            <li class="mt-list-item">
                                <div class="list-icon-container">
                                    <a href="javascript:;">
                                        <i class="fa fa-angle-right"></i>
                                    </a>
                                </div>
                                <div class="list-datetime bold uppercase font-green"> 8 Nov, 2015 </div>
                                <div class="list-item-content">
                                    <h3 class="uppercase">
                                        <a href="javascript:;">Latest news on Metronic</a>
                                    </h3>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec elementum gravida mauris, a tincidunt dolor porttitor eu. </p>
                                </div>
                            </li>
                            <li class="mt-list-item">
                                <div class="list-icon-container">
                                    <a href="javascript:;">
                                        <i class="fa fa-angle-right"></i>
                                    </a>
                                </div>
                                <div class="list-datetime bold uppercase font-green"> 8 Nov, 2015 </div>
                                <div class="list-item-content">
                                    <h3 class="uppercase">
                                        <a href="javascript:;">Latest news on Metronic</a>
                                    </h3>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec elementum gravida mauris, a tincidunt dolor porttitor eu. </p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</row>
