@using Mezun_Portali.Ent;
@using Mezun_Portali.BusinessLayer.Results;
@model BusinessLayerResult<Ilan>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@foreach (var ilan in Model.ResultList)
{
    <div class="row">
        <div class="portlet light">
            <div class="portlet-title">
                <div class="caption">
                    <a class="bg-hover-blue-oleo"> <h3>@ilan.IlanBasligi</h3></a>
                </div>

            </div>
            <div class="portlet-body">
                <h4>@ilan.Sektor</h4>
                <p>
                    @ilan.Adres

                </p>
                <div>
                    <span class="badge">@ilan.Tarih</span><div class="pull-right">

                    </div>
                </div>
            </div>
        </div>
    </div>
}

