
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="portlet light">
        <div class="portlet-title">
            <div class="caption">
                <a class="bg-hover-blue-oleo"> <h3>Alice in Wonderland, part dos</h3></a>
            </div>

        </div>
        <div class="portlet-body">
            <h4>Heading text goes here...</h4>
            <p>
                Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget......

            </p>
            <div>
                <span class="badge">Posted 2012-08-02 20:47:04</span><div class="pull-right">
                    <span class="label label-default">alice</span> <span class="label label-primary">story</span> <span class="label label-success">blog</span> <span class="label label-info">personal</span> <span class="label label-warning">Warning</span>
                    <span class="label label-danger">Danger</span>
                </div>
            </div>
        </div>
    </div>
</div>
